:root {
    --myapp-color-background: white;
    --myapp-color-subtext: darkgrey;
}

.entry {
    border-bottom: var(--myapp-color-subtext) 1px solid;
    padding: 0 5vw 2vh 5vw;
    display: flex;
    height: auto;
    align-items: center;
}

.entry > .imgContainer {
    align-self: end;
}

.entry > .imgContainer > .cover {
    object-fit: cover;
    width: 10vh;
    height: 10vh;
}

.entry > .entryDetails {
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.entry > .entryDetails > .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entry > .entryDetails > .title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry > .entryDetails > .playCnt {
    display: flex;
    align-items: center;
    margin-top: 2.5vh;
}

.entry > .entryDetails > .playCnt > .tags {
    padding-left: 2vw;
    margin: 0;
}

.entry > .options {
    align-self: end;
}

