.thumbnailView {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
    grid-gap: 2vh;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 2vh;
    overflow-x: hidden;
}

.thumbnailView > .entry {
    border: none;
    display: grid;
    width: 100%;
    padding: 0;
}

.thumbnailView > .entry > *:not(.imgContainer, .options) {
    display: none; /*hide the entry details apart from imgContainer and options btn*/
}

.thumbnailView > .entry > .imgContainer{
    grid-column: 1/span 3;
    grid-row: 1/span 3;
}

.thumbnailView > .entry > .imgContainer > .cover {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.thumbnailView > .entry > .options {
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    padding-right: 20px;
    padding-bottom: 20px;
    filter: invert(82%)
            sepia(0%)
            saturate(30%)
            hue-rotate(269deg)
            brightness(100%)
            contrast(101%);
}
